<!DOCTYPE html>
<html>
  <head>
    <title>Stories</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <div class='footer'>
      <%= link_to 'Home ', home_path%>|<%= link_to ' Contact Us', contact_us_path%>|
      <%= link_to ' Legal ', legal_path %>|<%= link_to ' Privacy Policy ', privacy_policy_path%>
    </div>    
  </body>
</html>
